/*
COLORS

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// the root is the global namespace (global parent element), every css variable we put in here will be available across all our scss files.
/// CUSTOM CSS PROPERTIES
:root {
    --color-primary: #1d82ff;
    --color-primary-light: #1d82ff;
    --color-primary-dark: #75adf1;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --box-shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
    --line: 1px solid var(--color-grey-light-2);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

/// media queires

$bp--Largest: 75em; //1200px
$bp--large: 66.25em; //1066px
$bp--medium: 56.25em; //900px
$bp--small: 44.0625em; //705px
$bp--smallest: 42.6875em; //641px
$bp--tiny: 25em; //641px

/// GLOBALqueries
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/// GLOBAL FONT-SIZE
html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16 (the browser default) = 62.5%

    @media only screen and (max-width: $bp--small) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp--tiny) {
        font-size: 35%;
    }
}

.detail,
.description,
.paragraph,
.review__text {
    @media only screen and (max-width: $bp--small) {
        font-size: 1.9rem;
    }
}

/// BASELINE STYLES
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-Grey-dark-2);
    background-image: linear-gradient(
        to right bottom,
        var(--color-primary-light),
        var(--color-primary-dark)
    );
    background-size: cover;
    background-repeat: no-repeat; //back is only covering the elements in tge body tag, and there are no apart from a word that is 16px high. test your self.
    min-height: 100vh; // covers what ever the user can see, and moves dynamically
}
