.container {
    max-width: 120rem; //allows container to decrease, we have 1200px, but it can decrease
    margin: 8rem auto; //centers it, in its parent element
    background-color: var(--color-grey-light-2);
    box-shadow: var(--box-shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp--Largest) {
        margin: auto;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    /// //parent of every element in the header
    display: flex;
    justify-content: space-between;
    align-items: center;
    // overflow: hidden;

    @media only screen and (max-width: $bp--small) {
        flex-wrap: wrap;
        height: 12rem;
        align-content: flex-start;
    }
}

.content {
    display: flex;
    // overflow: hidden;

    @media only screen and (max-width: $bp--medium) {
        flex-direction: column;
    }

    @media only screen and (max-width: $bp--small) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; // we don't want the element to grow if there is space, we don't want the element to shrink if there is no space, and we want to to 18% of the view port always. because its a % it will automatically adjust to the view port.

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // justify-content: space-between;

    @media only screen and (max-width: $bp--small) {
        flex-direction: column;
    }
}

.hotel-view {
    background-color: #fff;
    flex: 1; // so the element should grow as much as it can into all the available space which is 100-18
    //test
}

.detail {
    display: flex;
    font-size: 1.4rem;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp--large) {
        padding: 4rem;
    }

    @media only screen and (max-width: $bp--small) {
        flex-direction: column;
    }
}

.description {
    background-color: white;
    font-size: 1.4rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp--small) {
        margin-right: 0rem;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

///@

.hotel-view {
    @media only screen and (max-width: $bp--smallest) {
        display: flex;
        flex-direction: column;
    }
}

.overview {
    @media only screen and (max-width: $bp--smallest) {
        order: 0;
    }
}
.gallery {
    @media only screen and (max-width: $bp--smallest) {
        order: 1;
    }
}

.detail {
    @media only screen and (max-width: $bp--smallest) {
        order: 2;
    }
}

.cta {
    @media only screen and (max-width: $bp--smallest) {
        order: 3;
    }
}

.overview__heading {
    @media only screen and (max-width: $bp--small) {
        text-align: center;
    }
}

.overview {
    @media only screen and (max-width: $bp--small) {
        text-align: center;
    }
}

.overview__heading {
    @media only screen and (max-width: 376px) {
        text-align: center;
        font-size: 4rem;
        margin-top: 2rem;
    }

    @media only screen and (max-width: 396px) {
        font-size: 4rem;
    }
}

.overview__heading {
    @media only screen and (max-width: 416px) {
        margin-top: 1.5rem;
    }
}

.overview__icon-star {
    @media only screen and (max-width: 476px) {
        height: 4rem;
        width: 4rem;
    }

    @media only screen and (max-width: 612px) {
        height: 4rem;
        width: 4rem;
    }
}

.overview__location {
    @media only screen and (max-width: 476px) {
        font-size: 2.5rem;
        margin: 2.5rem 0rem;
    }

    @media only screen and (max-width: 612px) {
        font-size: 2rem;
        margin: 2rem 0rem;
    }
}

.overview__rating {
    &-average {
        @media only screen and (max-width: 612px) {
            font-size: 3.5rem;
        }
    }

    &-count {
        @media only screen and (max-width: 612px) {
            font-size: 1.5rem;
        }
    }
}

.ayo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.user-nav__user-name {
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
